body{
    background-color: rgb(255, 213, 108);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
   align-items: center;
    flex-wrap:wrap ;
    justify-content: center;
    position: relative;
    top: 150px;
    
}

.container{
 background-color: white;
 display: flex;
 flex-direction: column;
    width: 300px;
    border-radius: 15px;
    height: 460px;
    box-shadow: 9px 8px 0px 0  black;

}
.container div{
    margin:0 0 0  12px;
}
.img img{
    width: 85%;
    padding: 15px;
    border-radius:15%;
}
.text-top .font{
    background-color:rgb(255, 213, 108) ;
    display: flex;
    width: 23%;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;

    
}
h3{
    position: relative;
    left: 10px;
    
}
.text-top .fig{
    font-weight: 300;
    font-size: smaller;
}
.buttom {
    color: rgba(0, 0, 0, 0.397);
    font-size: small;
}
.profile   p{
    position: relative;
    left: 83px;
    top: -60px;
    font-weight: bolder;
    font-size: medium;

}